/* Hero Section Styles */
.hero-section {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    margin: 80px 160px;
    width: 1380px;
    height: 560px;
    display: flex;
}

.hero-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin: 117px 0px 16px 0px;
}

.hero-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    margin: 16px 0px;
    width: 622px;
}

.hero-png {
    width: 474px;
    height: 400px;
    margin: 80px 60px 80px 146px;
}

.p-vision {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 160px 32px 160px;

}

.btn-1 {
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}

.cards {
    display: flex;
    margin: 32px 160px;
    gap: 40px;
}

.card-1 {
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    background: rgba(84, 144, 245, 0.2);
    width: 520px;
    height: 325px;
}

.btn-2 {
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}

.card-2 {
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    background: rgb(198, 228, 214);
    width: 520px;
    height: 325px;
}

.btn-3 {
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}

.card-3 {
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    background: rgb(247, 235, 207);
    width: 520px;
    height: 325px;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
}

.card-contant {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}


.challenge {

    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(234, 246, 248);
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    width: 1570px;
    height: 256px;
    margin: 32px 160px 80px 160px;
    padding: 48px 24px 48px 24px;

}

.c-contant {

    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
}

.c-heading {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
}

.c-subtitle {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 4px;
}

.news-contant {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 160px;
}

.news-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
#icon{
    margin-top: 5px;
    margin-bottom: 12px;
}

.dt {
    display: inline;
    margin-right: 20px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.s-p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.satellite {
    display: flex;
    width: 1570px;
    height: 402px;
    border-radius: 24px;
    background: rgb(224, 240, 241);
    margin: 24px 160px;
}

.s-contant {
    margin: 26px 48px 56px 288px;
}
.s-contant-2{
    margin: 48px;
}

.satellite-img {
    margin: 48px;
    border-radius: 24px;
}

.s-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.rm-btn{
    margin-top: 12px;
}
/* Shared Styles */
.grn-btn {
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.common-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin: 0px 160px;
}