@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-section {
    width: 1600px;
    margin: 0 auto;
}

.fira-sans {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

/* Hero Section Styles */
.hero-section {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.hero-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
}
.hero-btn{
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-weight: 600;
    font-size: 18px;
    padding: 17px 34px 17px 34px;
}
.vision-title {
    font-weight: 700;
    font-size: 40px;
    color: rgb(14, 14, 14);
}

.p-vision {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.cards {
    display: flex;
    gap: 24px;
}

.btn-1 {
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}

.card-1 {
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    background: rgba(84, 144, 245, 0.2);
}

.btn-2 {
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}

.card-2 {
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    background: rgb(198, 228, 214);
}

.btn-3 {
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}

.card-3 {
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    background: rgb(247, 235, 207);
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.card-contant {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.challenge {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(234, 246, 248);
    padding: 25px 24px 48px 24px;
    margin-top: 32px;
}

.etc {
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
}

.c-contant {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}

.c-heading {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}

.c-subtitle {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
}

.news-contant {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.news-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
}

.icon {
    margin-top: 5px;
    margin-bottom: 12px;
}

.dt {
    display: inline;
    margin-right: 20px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.s-p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.satellite {
    display: flex;
    border-radius: 24px;
    background: rgb(224, 240, 241);
    gap: 24px;
    align-items: center;
    padding: 48px;
    margin-top: 32px;
}

.satellite-img img {
    margin: 48px;
    border: none;
    border-radius: 24px;
}

.s-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.read-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px 26px 13px 26px;
    font-weight: 600;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.reverse {
    display: flex;
    flex-direction: row-reverse;
}
.don-heading {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.don-body {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.donate {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btns {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
    margin: 0px 24px;
}
.clr-btn {
    background: rgb(198, 228, 214);
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
    margin: 0px 24px;
}
.donation{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 600;
}
.ph {
    margin: 32px 284px;
    text-align: center;
    width: 1032px;
    height: 62px;
}
.done-btn {
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px 17px 34px;
    border: none;
    margin-left: 758px;
}
.subscribe-section {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 80px 160px;
    padding: 80px 100px;
    text-align: center;
}
.email {
    padding: 18px 80px 18px 80px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    background: rgb(255, 255, 255);
}
.sbcr-btn {
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.sbcrb-heading {
    font-weight: 700;
    font-size: 40px;
    color: rgb(14, 14, 14);
}
.sbcrb-body {
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
}
.footer-heading {
    color: rgba(14, 14, 14, );
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}
.icons{
    margin-left: 900px;
}
.last {
    background: rgb(215, 236, 238);
}
/* /* Shared Styles */
.hover:hover {
    background-color: brown;
}